body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: hidden;
}

h1 {
  color: #333;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="number"],
input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#password {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  background-color: #f0f0f0;
}

/* Light Theme */
body.light-theme {
  background-color: #f0f0f0;
  color: #333;
}

/* Dark Theme */
body.dark-theme {
  background-color: #222;
  color: #fff;
}
